html{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
body{
    width:1000px;
    background-color: white;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}
h1{
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px blue;
    padding: 20px 0;
}
img,a{
    width: 400px;
    display: block;
    margin: 0 auto;
}
p,li{
    width: 500px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}
.a1{
    width: 200px;
    text-align: center;
}